# SPDX-License-Identifier: MIT

#config BOARD_ENABLE_DCDC
#    bool "Enable DCDC mode"
#    select SOC_DCDC_NRF52X
#    default y
#    depends on BOARD_LPGALAXY_LE_ZAPYBARA

if SHIELD_LPGALAXY_LE_ZAPYBARA

config ZMK_KEYBOARD_NAME
  default "ec_board"

endif


if ZMK_BATTERY_REPORTING

choice ZMK_BATTERY_REPORTING_FETCH_MODE
	default ZMK_BATTERY_REPORTING_FETCH_MODE_LITHIUM_VOLTAGE
endchoice

endif